.DataExploration .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.DataExploration .buttons button {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 130px;
  min-width: 130px;
  flex-grow: 1;
  flex-shrink: 1;
}
